<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/index.css">
</head>
<body>
	{include file="public/header"}
	<table>
		<tr>
			<td>id</td>
			<td>name</td>
			<td>sex</td>
			<td>username</td>
			<td>email</td>
		</tr>
		{volist name="teachers" id="vo"}
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo['name']}</td>
			<td>
			{eq name="$vo.sex" value="0"}男{else/}女{/eq}
			</td>
			<td>{$vo.username}</td>
			<td>{$vo.email}{$vo.create_time}</td>
		</tr>
		{/volist}
	</table>
	{include file="public/footer"}
</body>
</html>