<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>公告列表</title>
		{include file="public/header"}
		
	</head>

	<body class="no-skin">

		{include file="public/nav"}
		<div class="main-container ace-save-state" id="main-container">

		{switch name="menu"}
		    {case value="menu"}{include file="public/menu"}{/case}
		    {case value="menus"}{include file="public/menus"}{/case}
		    {case value="menut"}{include file="public/menut"}{/case}
		    {default /}请先登录
		{/switch}
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">公告</a>
							</li>
							<li class="active">列表</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						{include file="public/settings"}
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
 									{if condition="$notices"}
										<table id="simple-table" class="table  table-bordered table-hover">
											<thead>
												<tr>
													<th>公告标题</th>
													<th>创建时间</th>							
													<th >状态</th>
													<th></th>
												</tr>
											</thead>

											<tbody>
												
												{volist name="notices" id="vo"}
												<tr>
													<td><a href="{:url('index/notice/detail',['id'=>$vo.id])}">{$vo.name}</a>	</td>
													
													<td>{$vo.create_time}</td>
													
													<td >
														{$vo.status|status}
													</td>

													<td>
														<div class="hidden-sm hidden-xs btn-group">
															<a href="{:url('index/notice/detail',['id'=>$vo.id])}" target="_blank" class="btn btn-xs btn-success" title="查看公告内容">
																<i class="ace-icon fa fa-check bigger-120"></i>
															</a>

															<button class="btn btn-xs btn-info">
																<i class="ace-icon fa fa-pencil bigger-120"></i>
															</button>

															<a href="{:url('notice/status',['id'=>$vo.id,'status'=>0])}" class="btn btn-xs btn-danger"  title="删除">
																<i class="ace-icon fa fa-trash-o bigger-120"></i>
															</a>

															<a href="{:url('notice/status',['id'=>$vo.id,'status'=>2])}"  class="btn btn-xs btn-warning" title="禁用">
																<i class="ace-icon fa fa-flag bigger-120"></i>
															</a>
														</div>

														<div class="hidden-md hidden-lg">
															<div class="inline pos-rel">
																<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
																	<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
																</button>

																<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
																	<li>
																		<a href="#" class="tooltip-info" data-rel="tooltip" title="查看">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
																		</a>
																	</li>

																	<li>
																		<a href="#" class="tooltip-success" data-rel="tooltip" title="编辑">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
																		</a>
																	</li>

																	<li>
																		<a href="{:url('notice/status',['id'=>$vo.id,'status'=>2])}" class="tooltip-error" data-rel="tooltip" title="删除">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
												{/volist}
											
											</tbody>	
										</table>	
											{else/}
												<span style="color: red;font-size: 24px;">没有数据</span>
											{/if}
										{:pagination($notices)}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			{include file="public/footer"}
		</div><!-- /.main-container -->
		{include file="public/script"}
		

		<!-- inline scripts related to this page -->

		
	</body>
</html>
