<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>班级管理</title>
		{include file="public/header"}
		
	</head>

	<body class="no-skin">

		{include file="public/nav"}
		<div class="main-container ace-save-state" id="main-container">

		{switch name="menu"}
		    {case value="menu"}{include file="public/menu"}{/case}
		    {case value="menus"}{include file="public/menus"}{/case}
		    {case value="menut"}{include file="public/menut"}{/case}
		    {default /}请先登录
		{/switch}
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">首页</a>
							</li>

							<li>
								<a href="#">班级</a>
							</li>
							<li class="active">增加</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						{include file="public/settings"}
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="ace-icon fa fa-users blue"></i>
												新增班级
											</h4>

											<div class="space-6"></div>
											<p> 输入班级基本信息: </p>

											<form action="{:url('grade/save')}" method="post">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" name="name" class="form-control" placeholder="班级名称" />
															<i class="ace-icon fa  fa-plus-square-o"></i>
														</span>
													</label>				

													
													<label class="block clearfix">
														<select class="form-control" name="depart" id="form-field-select-1">
															
															{volist name="departs" id="vo"}
																<option value="{$key}">{$vo}</option>
															{/volist}		
														</select>
													</label>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<textarea class="form-control" name="remark" id="form-field-8" rows="8" placeholder="班级基本情况描述"></textarea>
														</span>
													</label>
													<div class="space-24"></div>
													<div class="clearfix">
														<button type="reset" class="width-30 pull-left btn btn-sm">
															<i class="ace-icon fa fa-refresh"></i>
															<span class="bigger-110">重置</span>
														</button>

														<button type="submit" class="width-65 pull-right btn btn-sm btn-success">
															<span class="bigger-110">添加</span>

															<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</fieldset>
											</form>
										</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			{include file="public/footer"}
		</div><!-- /.main-container -->
		{include file="public/script"}
		

		<!-- inline scripts related to this page -->
	</body>
</html>
