 <footer id="footer" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>广东省&nbsp;&nbsp;职业技术学院</p>
                  
                </div>
                <div class="col-md-4">
                    <p>参赛作品：计算机专业课作业系统</p>
                </div>
                <div class="col-md-4">
                    <p>
                      
                     <a href="{:url('index/index/clock')}" target="_blank">计时器</a>&nbsp;&nbsp;

                      <a href="{:url('index/index/online')}"  target="_blank">第三关</a>&nbsp;&nbsp;
                      <a href="{:url('index/index/drag')}"  target="_blank">拖拽应用</a>
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <script src="__STATIC__/assets/js/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>

    <script src="__STATIC__/js/indexmenuselect.js"></script>


