 <footer id="footer" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>广东省</p>
                  
                </div>
                <div class="col-md-4">
                    <p>职业技术学院</p>
                </div>
                <div class="col-md-4">
                    <p>
                      参赛作品：计算机专业课作业系统
                     
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <script src="__STATIC__/assets/js/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/assets/js/bootstrap.min.js"></script>

    <script src="__STATIC__/js/indexmenuselect.js"></script>